In [1]:
#Q.1) Convert given hrs & mins in second 

hr = int (input("enter hours"))
min = int (input ("enter mins"))
sec =  (hr*3600)+(min*60)
print (hr,'hours and',min,'mintes are total',sec,'seconds')

enter hours3
enter mins30
3 hours and 30 mintes are total 12600 seconds

In [ ]:
#Q.2) Write code to find the average of ‘n’
#numbers entered by the user to function avg ( ).
#Ex: avg (10, 20, 30, 40) => average is: 70
#avg (5, 10, 15) => average is: 10

In [13]:
#Q.3) Print
#1
#0 1
#0 1 0
#1 0 1 0
#1 0 1 0 1

n=int(input("enter no"))
for i in range(1,6):
  for j in range(1,i+1,)
  print(j%2,end=" ")
  print()

SyntaxError: ignored

In [18]:
#Q.4) Write a code to accept a number & print in words

def printaValue(digit):
  if digit == '0':
    print ("zero",end=" ")
  elif digit == "1":
    print ("one",end=" ")
  elif digit == "2":
    print ("two",end=" ")
  elif digit == "3":
    print ("three",end=" ")
  elif digit == "4":
    print ("four",end=" ")
  elif digit == "5":
    print ("five",end=" ")
  elif digit == "6":
    print ("six",end=" ")
  elif digit == "7":
    print ("seven",end=" ")
  elif digit == "8":
    print ("eight",end=" ")
  elif digit == "9":
    print ("nine",end=" ")

  def printWord(N):
    i=0
    length=len(N)
    while i< length:
      printValue (N[i])
      i+=1

N = "123"
  printWord(N)

IndentationError: ignored

In [8]:
#Q.5) Create class

class Person :
  def __init__(self, name,age):
    self.name=name 
    self.age=age

p1= Person("Darshan Ahire",23)
print(p1.name)
print(p1.age)

Darshan Ahire
23

In [12]:
#Q.6) Read file & count numbers of digit alphabets & symbol
 a = input("enter a string:")
 d=l=0
 for c in a:
      if c.isdigit():
     d=d+1
      elif c.isalpha():
    l=l+1
      else :
        pass 
      print("letters",l)
      print("digit",d)

IndentationError: ignored

In [9]:
#Q.7) Convert Paise in Rupees & Paises
#Ex: 350 is 3 Rupees 50 Paise
#3.50 print Rupees: 3
#Paise: 50


paise= 100
rs=int (input("enter amount in rupees :"))
result = rs*paise
print (f"{result} paise")

enter amount in rupees :45
4500 paise

In [31]:
#Q.9) Accept String & print only alternate
#characters on a string.
#Ex: this i s a _ test

str = input ("enter the string:")
print (str[1::2])

enter the string:darshan
asa

In [4]:
#Q8

row = 5
i = 1
while (i<=row):
  j = 1
  while(j<=i):
    print((i*2-1),end=" ")
    j = j+1
  i = i+1
  print(" ")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9